/* Variables */
:root {
    --red: rgb(207, 19, 19);
    --white: rgb(255, 255, 255);
    --gray: rgb(128, 128, 128);
    --black: rgb(0, 0, 0);
}

/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selectors */
/* Header/Navigation Bar Section */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header div {
    display: flex;
    background-color: var(--gray);
    margin: 1rem 0rem;
}

header h1 {
    padding: 0.5rem 0.5rem 0.5rem 10rem;
    font-size: 3rem;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 1rem;
    font-size: 1rem;
}

header nav ul li {
    margin: 1.5rem;
    border-bottom: 0.25rem solid var(--black);
    padding: 0.5rem;
}

header nav ul li a {
    text-decoration: none;
    color: var(--white);
}

header nav ul li:hover {
    background-color: var(--black);
    cursor: pointer;
    transition-duration: 0.5s;
}

/* Class Selectors */

/* Subtitle Section */
.subtitle {
    padding: 2rem;
    background-image: url(./images/tree-g9e409b46f_1280.jpg);
}

.subtitle h2 {
    display: flex;
    flex-wrap: row wrap;
    justify-content: flex-end;
    color: var(--red);
}

.subtitle h2 span {
    background-color: var(--white);
    padding: 1rem;
    opacity: 50%;
}

.subtitle h2 span:hover {
    background-color: var(--white);
    padding: 1.5rem;
    opacity: 100%;
    transition-duration: 1s;
    font-size: 1.25rem;
}

/* All Sections */
.mainsections {
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2rem;
    padding-left: 5rem;
}

.mainsections h3 {
    font-size: 2.5rem;
    margin: 1rem;
    text-align: right;
}

.leftcolumn {
    width: 25%;
}

.rightcolumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    border-left: 0.2rem solid var(--red);
    padding: 0.25rem 0.5rem 1rem 1.5rem;
    font-size: 1.25rem;
}

.rightcolumn a {
    text-decoration: none;
}


/* About Me */
.mainsections p {
    margin: 0.5rem;
    font-size: 1rem;
}

.aboutmepic {
    margin: 0.5rem;
    border-radius: 10%;
    width: 500px;
}

/* Work */
.mainsections .rightcolumn figure {
    opacity: 50%;
    padding: 0.5rem;
}

.mainsections .rightcolumn figure:hover {
    opacity: 100%;
    transition-duration: 1s;
    cursor: pointer;
}

.mainsections .rightcolumn figure figcaption {
    position: relative;
    color: var(--white);
    background-color: var(--red);
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

.mainsections .rightcolumn img {
    border: 3px solid var(--red);   
}

.mainsections .rightcolumn .mainproject {
    width: 100%;
    font-size: 1.5rem;
}

.mainsections .otherprojects {
    width: 50%;
    font-size: 1rem;
}

/* Contact Me */
.mainsections ul {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
}

.mainsections ul li a {
    margin: 1rem;
    border-bottom: 0.25rem solid var(--red);
    text-decoration: none;
    padding: 0 0 0.25rem 0;
    color: var(--black);
}

.mainsections ul li a:hover {
    background-color: var(--red);
    cursor: pointer;
    padding: 0.5rem;
    transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    header div {
        justify-content: center;
        margin: 0rem;
    }
    header h1 {
        padding: 1rem 0;
    }
    header nav ul {
        justify-content: center;
        margin: 0;
    }
    header nav ul li {
        margin: 1rem;
        padding: 0.25rem;
    }
    .mainsections {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .mainsections h3 {
        text-align: left;
        border-bottom: 0.2rem solid var(--red);
    }
    .leftcolumn {
        width: 100%;
    }
    .rightcolumn {
        border: none;
        padding: 1rem 1rem 0 1rem;
        width: 100%;
        margin: 0 0 1.5rem 0;
        justify-content: center;
    }
    .rightcolumn ul {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    header div {
        margin: 0rem;
    }
    header h1 {
        padding: 1rem 0;
        text-align: center;
    }
    header nav ul {
        justify-content: center;
        margin: 0;
        flex-wrap: wrap;
    }
    header nav ul li {
        margin: 1rem;
        padding: 0.25rem;
    }
    .mainsections {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .mainsections h3 {
        text-align: left;
        border-bottom: 0.2rem solid var(--red);
    }
    .leftcolumn {
        width: 100%;
    }
    .rightcolumn {
        flex-wrap: wrap;
        border: none;
        padding: 1rem 1rem 0 1rem;
        width: 100%;
        margin: 0 0 1.5rem 0;
        justify-content: center;
        flex-direction: column;
    }
    .rightcolumn ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 1.25rem;
    }
    .rightcolumn ul li {
        margin: 0 0 2rem 0;
        padding: 0;
    }
    .mainsections .rightcolumn .mainproject {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
    }
    .mainsections .rightcolumn .otherprojects {
        width: 100%;
    }

}